* {
    box-sizing: border-box;
}

header{
    font-family: Teko, sans-serif;
     align-items: center; 
    justify-content: space-between;
    padding: 2cm 0; 
    border-top: none;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #8FFF33;
    background-color: #522142;
    margin: 5px;
}

.logo {
    font-size: 10px;
    font-weight: 30%;
    margin-right: 20px;
}

h1, h2{
    font-family: Anton, sans-serif;
    texte-shadow: 1px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #215235;
    background-color: #8FFF33;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 10px;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

footer{
     font-family: Teko, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #8FFF33;
    background-color: #522142;
}
